*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat ;
    overflow-x: hidden;
}
li,a{
    list-style: none;
    text-decoration: none;
}
:root{
    --theme-color: #F77B25
}
/* header section start */  
.contact{
    border: 1px solid var(--theme-color);
    background-color: var(--theme-color);
}
.logo-img{
    width: 250px;
}
nav ul li{
    padding-inline: 8px;
}
a{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
}
/* header section end */

/* banner section start */
.banner{
    min-height: 118vh;
    color: white;
    background: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .info{
        max-width: 650px;
        position: absolute;
        top: 20%;
        left: 15%;
    }
    .info-btn{
        background-color: var(--theme-color);
        color: #ffffff;
        border: none;
        padding: 8px 15px;
        margin-right: 10px;
        font-weight: 400;
        &:hover{
            background-color: #ffffff;
            color: var(--theme-color) !important;
        }
    }
    .btn-more{
        border: none;
        font-weight: 600;
        padding: 8px 15px;
        &:hover{
            background-color: var(--theme-color);
            color: #ffffff !important;
        }
    }
    & h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

    }
    .icon
    {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        position: absolute;
        top:76%;
        left: 50%;
        background-color: #FFFFFF;
        border: 1px solid lightgrey;
    }
}
/* banner section end */

/* about section start*/
.about-section{
    
    .read-mor-btn{
        background-color: var(--theme-color);
        border: 1px solid var(--theme-color);
        color: #ffffff;
        transition: all 0.8s ease-in-out;
        & a{color: #FFFFFF;}
        & i{color: #FFFFFF;}
        &:hover{
            background-color: #ffffff;
            border: 1px solid var(--theme-color);
            color: var(--theme-color);
            & a{color: var(--theme-color);}
        }       
    }
    & h3{
        font-size: 48px;
    }
    .about-main-text{
        color: var(--theme-color);
        position: relative;
        .line{
            display: inline-block;
            height: 2px ;
            width: 60px;
            background-color: var(--theme-color);
            position: absolute;
            top: 50%;
            margin-left: 11px;

        }
    }

}
/* about section end*/

/* service section start*/
.Service{
    .text{color: var(--theme-color);}
    h3{
        font-size: 48px;
    }
    & a{
        color: var(--theme-color);;
        text-decoration: none;
        /* border-bottom: 1px solid var(--theme-color);; */
    }
    .value-chain-sec{
        background: url('../images/value_chain.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 35px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        color: white;
    }
    .btn-read-more{
        border: none;
        color: black;
        font-weight: 600;
    }
    .btn-read-more a{ 
        border-bottom: none;
        color: black;
    }
    .service-main-text{
        position: relative;
        .line{
            display: inline-block;
            height: 2px ;
            width: 60px;
            background-color: var(--theme-color);
            position: absolute;
            top: 50%;
            margin-left: 11px;
    
        }
        .about-sec-line{
            display: inline-block;
            height: 2px ;
            width: 60px;
            background-color: var(--theme-color);
            position: absolute;
            top: 50%;
            margin-left: -70px;
        }
    }
    
    .service-section{
        margin-top: 20px;
        border: 1px solid #d2d3d2;
        cursor: pointer;
        border-radius: 45px;
        padding: 20px 20px ;
        transition: all 0.3s ease-in;
        .read-more-btn{
            padding: 7px 20px ;
            border: 1px solid transparent;
            background-color: transparent;
            border-radius: 8px;
        transition: all 0.3s ease-in;
            
            .btn-link{
                color: var(--theme-color);
                text-decoration: underline;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
    .service-section:hover{
        background: url('../images/value_chain.png');
        background-size: cover;
        background-repeat: no-repeat;
        color: #FFFFFF;
        .read-more-btn{
            padding: 7px 20px ;
            border: 1px solid #ffffff;
            background-color: #ffffff;
            .btn-link{
                color: #000000;
                text-decoration: none ;
                font-weight: 600;

            }
        }

    }
}
/* service section end*/

/* review-section start */
.review-section{
    background: url('../images/review-bg.png');
    background-size: 100% 100%;
    padding: 3rem;
    text-align: center;
    & h3{
        margin-bottom: 80px;
    }
}
.review-section i{
    color: #F79C10;
}
.review-section a{
    text-decoration: none;
    color: var(--theme-color);
}
.client-sec{
    border-radius: 25px;
    position: relative;
    & h5{
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.25px;
    }
}
.image {
    position: absolute;
    top: -22%;
    display: inline-block;
    margin-inline: auto;
}
.review-section button{
    border: none;
}
.review-section button a{
    text-decoration: none;
    color: black;
}

.review-main-text{
    position: relative;
    .line{
        display: inline-block;
        height: 2px ;
        width: 60px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        margin-left: 11px;

    }
    .about-sec-line{
        display: inline-block;
        height: 2px ;
        width: 60px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        margin-left: -70px;
    }
}
/* review-section end */

/* download-section start */
.download{
    border: 1px solid var(--theme-color);
    outline: none;
    background-color: var(--theme-color);
    transition: all 0.8s ease-in-out;
    & a{
        color: #FFFFFF;
    }
    & i{
        color: #FFFFFF;
    }
    &:hover{
        background-color: #FFFFFF;
        border: 1px solid var(--theme-color);
        & a{

            color: var(--theme-color);
        }
        & i{
            color: var(--theme-color);
        }
    }
}

.download-main-text {
    position: relative;
    .line{
        display: inline-block;
        height: 2px ;
        width: 60px;
        background-color: #F79C10;
        position: absolute;
        top: 50%;
        margin-left: 11px;

    }
}
/* download-section end */

/* blog section start */

.blog .blog-text,span{
    color: var(--theme-color);
}
.blog a{
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.blog a:hover{
    background-color: var(--theme-color);
    color: #ffffff;
    transition: all 0.8s ease-in-out;
}
.blog a:hover i{
    color: #ffffff;
    transition: all 0.8s ease-in-out;
}
.blog-slider-sec{
    padding: 0 50px;
    .mySwiper{
        padding:0 49px;
    }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details{padding: 10px;}     
.details a,i{
    color:var(--theme-color);
    text-decoration: none;
}
.next-btn::after{
    color: white;
    font-size: 16px ;

}
.next-btn{
    background-color: var(--theme-color);
    border-radius: 50%;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    right: 4px;
}
.preview-btn::after{
    color: var(--theme-color);
    font-size: 18px !important;
}
.preview-btn{
    left: -4px;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.blog-card{
    width: 100%;
    margin-inline: auto;
    padding: 20px;
}
.slides{
    border-right: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    border-radius: 5px;
    transition: all 0.8s ease-in-out;
}
.slide2{
    border-bottom: 2px solid var(--theme-color);
    border-right: 2px solid var(--theme-color);
}
.blog-card:hover .slides{
    border-right: 2px solid var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}
/* blog section end */

/* footer section start */
.footer-section{
    background: url('../images/footer.png');
    background-size: cover;
    .footer-link{
        color: #D2D3D2;
        transition: all 0.8s ease-in-out;
        &:hover{
            color: var(--theme-color);
        }
    }
    & h6{
        color: #ffffff !important;
    }

   
}
.footer-section span{
    background-color: #595959;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: 5px;
    .footer-icon{
        color: #000000;
    }
    &:hover{
        background-color: white;
        .footer-icon{
            color: #000000;
        }
    }

}
.footer-section ul{
    padding: 0px;
}
.footer-section hr{
    width: 200px;
    height: 3px;
    background-color: gainsboro ;
    margin: 15px 0px;
}     
.footer-info{
    padding: 200px 0px 0px 0px;
}
.social-icon{
    margin-top: 30px;
    display: flex;
}
.copyright{
    border-top: 2px solid #595959;
    margin-top: 50px;
    padding: 20px 0px;
}
/* footer section end */

@media(max-width:992px){
    .logo-img{
        width: 150px;
    }
    .banner{
        .info{
            left: 8%;
        }
        & h2{
        font-size: 25px;
        line-height: 30px;
        }
        .icon
        {
            top:77%;
            left: 40%;
        }
    }
    .about-section{
    & h3{
        font-size: 33px;
    }   
}
.Service{
    .text{color: var(--theme-color);;}
    h3{
        font-size: 35px;
    }
}
.review-sec-client1{
    margin-bottom: 100px !important;
}
}

@media(max-width:768px){
    .banner{
        .info{
            left: 10%;
        }
       
    }
    .footer-section{
       & h6{
        margin-top: 30px;
    }
    .review-section{
        padding: 1rem;
    }
    .about-section{ 
        .about-main-text{
            &::after{
                left: 20%;
            }
        }
    }
    .Service{
        .service-main-text{
            &::after{
                left: 65%;
            }
            &::before{
                right: 65%;
            }
        }
    }
    .download-main-text {
        &::after{
            left: 45%;
        }
    }
    .review-main-text{
        &::after{
            left: 60%;
        }
        &::before{
            right: 60%;
        }
    }
    .blog-slider-sec{
        padding: 0 0px;
        .mySwiper{
            padding:0 0px;
        }
    }   
}
.blog-card{
    width: 80%;
}
}

@media(max-width:500px){
    .logo-img{
        width: 120px;
    }
    .image{
        top: -12%;  
        left: 28%;
    }
    .review-main-text{
        &::after{
            left: 70%;
        }
        &::before{
            right: 70%;
        }
    }
    .about-section{ 
        .about-main-text{
            &::after{
                left: 23%;
            }
        }
    }
    .Service{
        .service-main-text{
            &::after{
                left: 68%;
            }
            &::before{
                right: 68%;
            }
        }
    }
    .blog-card{
        width: 100%;
    }
}

@media(max-width:280px){
    .btn-more{
        margin-top: 10px;
    }
    .next-btn{
        display: none;
    }
    .preview-btn{
        display: none;
    }
}
